In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math

In [43]:
# load datasets
Malaria = pd.read_csv('../Nigerian_malaria.csv')

In [44]:
Malaria.head(10)

,hhid,hv024,hv025,hv201,hv205,hv206,hv213,hv214,hv215,hv210,hv211,hv212,hv227,hv244,hv247,hv270,sh16_22,shstate
0,1002,north west,urban,protected well,ventilated improved pit latrine (vip),yes,cement,cement,zinc/metal,no,no,no,yes,yes,no,richer,NaN,sokoto
1,1004,north west,urban,tanker truck,ventilated improved pit latrine (vip),yes,"palm, bamboo",cement,zinc/metal,yes,no,yes,yes,yes,yes,richer,NaN,sokoto
2,1007,north west,urban,tube well or borehole,ventilated improved pit latrine (vip),yes,cement,cement,zinc/metal,no,yes,no,yes,no,no,richer,NaN,sokoto
3,1010,north west,urban,tube well or borehole,ventilated improved pit latrine (vip),yes,cement,cement,zinc/metal,yes,yes,yes,yes,no,no,richest,NaN,sokoto
4,1013,north west,urban,tanker truck,ventilated improved pit latrine (vip),yes,ceramic tiles,cement,zinc/metal,no,yes,yes,yes,no,yes,richest,NaN,sokoto
5,1016,north west,urban,tube well or borehole,ventilated improved pit latrine (vip),yes,wood planks,cardboard,zinc/metal,no,yes,no,yes,yes,yes,richer,NaN,sokoto
6,1019,north west,urban,tube well or borehole,ventilated improved pit latrine (vip),yes,cement,plywood,zinc/metal,no,no,yes,yes,no,yes,richest,NaN,sokoto
7,1022,north west,urban,tanker truck,ventilated improved pit latrine (vip),yes,cement,cement,zinc/metal,no,yes,no,yes,no,yes,richest,NaN,sokoto
8,1025,north west,urban,tanker truck,ventilated improved pit latrine (vip),yes,cement,cement,zinc/metal,no,yes,no,yes,no,yes,richest,NaN,sokoto
9,1027,north west,urban,tube well or borehole,pit latrine with slab,yes,cement,cement,zinc/metal,no,no,no,no,no,no,richer,NaN,sokoto

In [45]:
# Rename the columns : The column names in the dataset above have coded names.
#  We are going to assign human-readable names to the columns and print shape and head of the data.
Malaria.columns=['Case Identification', 'Region', 'Type of Place of Residence', 'Source of Drinking Water', 'Type of Toilet Facility',
                'Has Electricity', 'Main Floor Material', 'Main Wall Material', 'Main Roof Material', 'Has Bicycle', 'Has Motorcycle or Scooter',
                'Has Car or Truck', 'Has Mosquito Bed Net for Sleeping', 'Owns Land Suitable for Agriculture', 'Has Bank Account', 
                'Wealth Index', 'Cost of Treatment for Fever', 'State']

print(Malaria.shape)
Malaria.head()

(7745, 18)

,Case Identification,Region,Type of Place of Residence,Source of Drinking Water,Type of Toilet Facility,Has Electricity,Main Floor Material,Main Wall Material,Main Roof Material,Has Bicycle,Has Motorcycle or Scooter,Has Car or Truck,Has Mosquito Bed Net for Sleeping,Owns Land Suitable for Agriculture,Has Bank Account,Wealth Index,Cost of Treatment for Fever,State
0,1002,north west,urban,protected well,ventilated improved pit latrine (vip),yes,cement,cement,zinc/metal,no,no,no,yes,yes,no,richer,NaN,sokoto
1,1004,north west,urban,tanker truck,ventilated improved pit latrine (vip),yes,"palm, bamboo",cement,zinc/metal,yes,no,yes,yes,yes,yes,richer,NaN,sokoto
2,1007,north west,urban,tube well or borehole,ventilated improved pit latrine (vip),yes,cement,cement,zinc/metal,no,yes,no,yes,no,no,richer,NaN,sokoto
3,1010,north west,urban,tube well or borehole,ventilated improved pit latrine (vip),yes,cement,cement,zinc/metal,yes,yes,yes,yes,no,no,richest,NaN,sokoto
4,1013,north west,urban,tanker truck,ventilated improved pit latrine (vip),yes,ceramic tiles,cement,zinc/metal,no,yes,yes,yes,no,yes,richest,NaN,sokoto

In [12]:
#display malaria datatype of each column
Malaria.dtypes

Case Identification                     int64
Region                                 object
Type of Place of Residence             object
Source of Drinking Water               object
Type of Toilet Facility                object
Has Electricity                        object
Main Floor Material                    object
Main Wall Material                     object
Main Roof Material                     object
Has Bicycle                            object
Has Motorcycle or Scooter              object
Has Car or Truck                       object
Has Mosquito Bed Net for Sleeping      object
Owns Land Suitable for Agriculture     object
Has Bank Account                       object
Wealth Index                           object
Cost of Treatment for Fever           float64
State                                  object
dtype: object

In [14]:
# check for missing values
(Malaria.isnull()).any()

Case Identification                   False
Region                                False
Type of Place of Residence            False
Source of Drinking Water              False
Type of Toilet Facility                True
Has Electricity                       False
Main Floor Material                   False
Main Wall Material                    False
Main Roof Material                    False
Has Bicycle                           False
Has Motorcycle or Scooter             False
Has Car or Truck                      False
Has Mosquito Bed Net for Sleeping     False
Owns Land Suitable for Agriculture    False
Has Bank Account                      False
Wealth Index                          False
Cost of Treatment for Fever            True
State                                 False
dtype: bool

In [16]:
Malaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7745 entries, 0 to 7744
Data columns (total 18 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Case Identification                 7745 non-null   int64
 1   Region                              7745 non-null   object
 2   Type of Place of Residence          7745 non-null   object
 3   Source of Drinking Water            7745 non-null   object
 4   Type of Toilet Facility             7744 non-null   object
 5   Has Electricity                     7745 non-null   object
 6   Main Floor Material                 7745 non-null   object
 7   Main Wall Material                  7745 non-null   object
 8   Main Roof Material                  7745 non-null   object
 9   Has Bicycle                         7745 non-null   object
 10  Has Motorcycle or Scooter           7745 non-null   object
 11  Has Car or Truck                    7745 non-null   object
 12  Has Mosquito Bed Net for Sleeping   7745 non-null   object
 13  Owns Land Suitable for Agriculture  7745 non-null   object
 14  Has Bank Account                    7745 non-null   object
 15  Wealth Index                        7745 non-null   object
 16  Cost of Treatment for Fever         3 non-null      float64
 17  State                               7745 non-null   object
dtypes: float64(1), int64(1), object(16)
memory usage: 1.1+ MB

In [46]:
#Remove the column with missing values
Malaria.drop('Cost of Treatment for Fever', axis=1, inplace=True)

In [47]:
#
Malaria.dropna(inplace=True)

In [48]:
Malaria.to_csv('../Nigerian_malaria_dashboard.csv', index=False)

In [ ]:
#check after removal 
Malaria.columns

Index(['Case Identification', 'Region', 'Type of Place of Residence',
       'Source of Drinking Water', 'Type of Toilet Facility',
       'Has Electricity', 'Main Floor Material', 'Main Wall Material',
       'Main Roof Material', 'Has Bicycle', 'Has Motorcycle or Scooter',
       'Has Car or Truck', 'Has Mosquito Bed Net for Sleeping',
       'Owns Land Suitable for Agriculture', 'Has Bank Account',
       'Wealth Index', 'State'],
      dtype='object')

In [22]:
#
Malaria.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7744 entries, 0 to 7744
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Case Identification                 7744 non-null   int64
 1   Region                              7744 non-null   object
 2   Type of Place of Residence          7744 non-null   object
 3   Source of Drinking Water            7744 non-null   object
 4   Type of Toilet Facility             7744 non-null   object
 5   Has Electricity                     7744 non-null   object
 6   Main Floor Material                 7744 non-null   object
 7   Main Wall Material                  7744 non-null   object
 8   Main Roof Material                  7744 non-null   object
 9   Has Bicycle                         7744 non-null   object
 10  Has Motorcycle or Scooter           7744 non-null   object
 11  Has Car or Truck                    7744 non-null   object
 12  Has Mosquito Bed Net for Sleeping   7744 non-null   object
 13  Owns Land Suitable for Agriculture  7744 non-null   object
 14  Has Bank Account                    7744 non-null   object
 15  Wealth Index                        7744 non-null   object
 16  State                               7744 non-null   object
dtypes: int64(1), object(16)
memory usage: 1.1+ MB

In [23]:
# Descriptive Statistic : case by States
Malaria['State'].value_counts()

State
yobe             225
jigawa           225
bauchi           225
gombe            225
adamawa          225
abia             225
bayelsa          225
lagos            225
taraba           225
cross river      225
oyo              224
sokoto           224
ondo             223
kebbi            222
osun             221
zamfara          220
katsina          220
ogun             220
akwa ibom        220
rivers           220
kaduna           219
enugu            217
ekiti            217
kano             216
edo              211
kogi             211
benue            211
niger            206
ebonyi           201
nasarawa         200
plateau          196
kwara            194
imo              191
delta            180
anambra          168
fct abuja        167
borno - urban     75
Name: count, dtype: int64

In [ ]:
#to check electricity access
Malaria['Has Electricity'].value_counts()

Has Electricity
yes    4247
no     3497
Name: count, dtype: int64

In [25]:
Malaria['Source of Drinking Water'].value_counts()

Source of Drinking Water
tube well or borehole                                   2795
river/dam/lake/ponds/stream/canal/irrigation channel     829
unprotected well                                         819
sachet water                                             786
protected well                                           785
public tap/standpipe                                     393
unprotected spring                                       349
rainwater                                                308
piped into dwelling                                      238
piped to yard/plot                                       101
protected spring                                          87
piped to neighbor                                         84
tanker truck                                              71
bottled water                                             68
cart with small tank                                      27
other                                                      4
Name: count, dtype: int64

In [26]:
Malaria['Wealth Index'].value_counts()

Wealth Index
richer     1844
richest    1816
middle     1676
poorer     1351
poorest    1057
Name: count, dtype: int64

In [27]:
Malaria['Has Mosquito Bed Net for Sleeping'].value_counts()

Has Mosquito Bed Net for Sleeping
yes    5431
no     2313
Name: count, dtype: int64

In [28]:
Malaria.groupby('Wealth Index')['State'].describe()

             count unique       top freq
Wealth Index
middle        1676     37  nasarawa   89
poorer        1351     35    taraba   97
poorest       1057     25    sokoto  108
richer        1844     37     ekiti  107
richest       1816     36     lagos  207

In [32]:
Malaria.groupby("Has Bank Account")["State"].describe()

                 count unique     top freq
Has Bank Account
no                4476     37  jigawa  201
yes               3268     37   lagos  177

In [33]:
#People having Mosquito bed by state
Malaria.groupby('Has Mosquito Bed Net for Sleeping')['State'].describe()

                                  count unique     top freq
Has Mosquito Bed Net for Sleeping
no                                 2313     37     edo  124
yes                                5431     37  bauchi  221

In [34]:
Malaria.groupby('Has Electricity')['State'].describe()

                count unique      top freq
Has Electricity
no               3497     37  adamawa  189
yes              4247     37    lagos  224

In [37]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Pour chaque colonne de type object (catégorielle)
for col in Malaria.select_dtypes(include='object').columns:
    Malaria[col] = le.fit_transform(Malaria[col].astype(str))

In [38]:
Malaria.head()

,Case Identification,Region,Type of Place of Residence,Source of Drinking Water,Type of Toilet Facility,Has Electricity,Main Floor Material,Main Wall Material,Main Roof Material,Has Bicycle,Has Motorcycle or Scooter,Has Car or Truck,Has Mosquito Bed Net for Sleeping,Owns Land Suitable for Agriculture,Has Bank Account,Wealth Index,State
0,1002,2,1,7,12,1,1,4,13,0,0,0,1,1,0,3,33
1,1004,2,1,12,12,1,5,4,13,1,0,1,1,1,1,3,33
2,1007,2,1,13,12,1,1,4,13,0,1,0,1,0,0,3,33
3,1010,2,1,13,12,1,1,4,13,1,1,1,1,0,0,4,33
4,1013,2,1,12,12,1,2,4,13,0,1,1,1,0,1,4,33

In [40]:
Malaria.to_csv("../cleaned_data.csv", index=False)

In [42]:
Malaria.head()

,Case Identification,Region,Type of Place of Residence,Source of Drinking Water,Type of Toilet Facility,Has Electricity,Main Floor Material,Main Wall Material,Main Roof Material,Has Bicycle,Has Motorcycle or Scooter,Has Car or Truck,Has Mosquito Bed Net for Sleeping,Owns Land Suitable for Agriculture,Has Bank Account,Wealth Index,State
0,1002,2,1,7,12,1,1,4,13,0,0,0,1,1,0,3,33
1,1004,2,1,12,12,1,5,4,13,1,0,1,1,1,1,3,33
2,1007,2,1,13,12,1,1,4,13,0,1,0,1,0,0,3,33
3,1010,2,1,13,12,1,1,4,13,1,1,1,1,0,0,4,33
4,1013,2,1,12,12,1,2,4,13,0,1,1,1,0,1,4,33